#top {
    position: fixed;
    top:0;
    left:0;
    right:0;
    background-color: #000000;
    height:60px;
    width: 100%;
    font-weight: 400;
    z-index: 100;
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    display: flex;

}


.header_box{
    width:1330px;
    margin: auto;
    display:flex;
    align-items: center;
    justify-content: space-between;

}


.header_box_left img{
    width:136px;
    height: 33px;
}

.header_box_left {
    display: flex;
    color: white;
    align-items: center;
}

.header_box_left > p {
    color: white;
    font-size: 16px;
    margin-left: 15px;
    white-space: nowrap;
}


.header_box_right {
    display: flex;
    align-items: center;
}


.header_box_right img {
    width:218px;
}

.header_box_right p {
    font-size: 15px;
    color: white;
    margin-right: 40px;
}

#search_bar{
    display:flex;
}

#search_bar_mini {
    position: relative;
    width: 216px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border:none;
    padding-left: 14px;
    box-sizing: content-box;
}

.search_button {
    position:relative;
    left:-50px;
    border: none;
    cursor: pointer;
    width: 0px;
    height:0px;
    background: none;
    margin-top: -8px;
}

.search_button img {
    margin-top: 17px;
    width:30px;
    cursor: pointer;

}

li {
    float:left;
}

#qna {
    margin-right: 30px;
    text-decoration: none;
    color:white;
}

#header_box_right_ul{
    margin:0;
    display:flex;
    align-items: center;

}

#info{
    margin-bottom: 0px;
    box-sizing: content-box;
}

#header_box_right_u li p a {
    margin:0;
}