

body{
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    display:flex;
}



#main_box{
    width: 100%;
    height: 570px;
    top: 0px;
    background: #039145;
}

.content_box{  
    position: relative;
    top:80px;
    width:1330px;
    margin: auto;
}

#result_box{
    width:1110px;
    margin:50px 84px 10px 84px;
    display: flex;
}


#result_img_box{
    margin-top: 40px;
    top:200px;
    display: table-cell;
    width:347px;
    height:347px;
}

#result_text_box{
    width: 684px;
    margin-left:80px;
    display: flex;
    flex-direction: column;
}

.result_img{
    max-width: 350px;
    max-height: 350px;
}

#result_text{
    font-size:30px;
    color:white;
    margin-bottom: 10px;
}

#result_text_2{
    font-size:40px;
    margin-top:20px;
    margin-bottom: 100px;
    color:white;

}

#result_share_box{
    display: flex;
    align-items: center;
}


#sequence{
    margin-top: 140px;
    text-align: center;
    font-size: 30px;
    margin-bottom: 100px;
}

.swiper{
    width:1330px;
    height:500px;
    overflow: visible;
}

.swiper-slide{
    width:327px;
    height: 380px;
}


.image{
    width: 327px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
}

.swiper-slide .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide p{
    font-size: 20px;
}

.similar_back{
    position: absolute;
    width:327px;
    height: 40px;
    background: #039145;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display:flex;
    align-items: center;
    justify-content: center;
}


.simliar_back-text {
    font-size:22px;
    color:white;
    margin:0px;
}

.swiper-container {
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    min-height: 0;
    min-width: 0;
  }