
body {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 50px;
}

.menu1 {
    font-size: 14px;
    padding: 0 100px;
}


.menu2 {
    font-size: 14px;
    display: flex;
    list-style: none;
}

.menu2 li {
    padding: 5px 20px;
}

.menu3 {
    position: relative;

}

.main{
    width: 69.635vw;
    margin: 0 auto;
    margin-bottom: 150px;
}


.button {
    float: right;
    border: 0;
}

.button img {
    position: absolute;
    top: 7px;
    right: 0px;
}

.b-ground {
    background-image: url('분리수거 상단.png');
    width: cover;
    height: 200px;

}

.b-word {
    font-size: 30px;
    padding: 70px 250px;
}

.story-t {
    font-size: 26px;
    padding-top: 100px;

}

.tell {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    border-top: 2px solid black;
    border-bottom: 2px solid black;


}

.teller {
    font-size: 14px;
    display: flex;
}

.teller li {
    padding: 0 20px;
    
}

ul {
    list-style: none;
}

.story {
    padding: 10px 50px;
}

.story-s {
    font-size: 20px;
}

.comment {
    background-color: #F4F4F4;
    display: block;
    justify-content: space-between;
    align-items: center;
}

.comment1 {
    font-size: 14px;
    padding-left: 30px;
    padding: 10px 40px;

}

.comment-box {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

hr{
    width: 67.188vw;
    margin: 0 auto;
    background-color: #6B6B6B;
}

ul hr{
     width: 63vw;
     float: left;
     background-color: #F5F5F5;
}

.c-people {
    font-size: 16px;

}


.c-people li {
    padding: 0 10px;
}

.c-content {
    font-size: 15px;

    padding-bottom: 30px;
}



.c-ar {
    background-color: white;
    width: 60px;
    height: 30px;
    border: 1px solid black;

}


.c-a a{
    color: black;
    font-size: 15px;
    padding: 0 15px;
}

.c-all {
    width: 62.5vw;
    height: 200px;

}

.c-b {
    width: 62.5vw;
    height: 100px;
    background-color: white;
    border: none;
}

.c-write{
    width: 65vw;
    margin: 0 auto;
    margin-top: 25px;
    padding-bottom: 60px;
}

span{
    display: inline-block;
}


.click {
    float: right;
    padding-bottom: 50px;
}

.c-click {
    background-color: #039145;
    width: 60px;
    height: 30px;
    color: #ffffff;
    border: none;
    float: right;
    margin-top: 10px;
}


