<!doctype html>
<html lang="ko">
    <head>
        <!--navigation css-->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link
rel="stylesheet"
href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
    </head>
<body>
<!-- 네비게이션바 -->
<header id="top">
    <div class ="header_box">
        <div class ="header_box_left">
            <a href="{{url_for('main.index')}}"><img src={{url_for('static',filename='img/semoss_logo_white.png')}}></a>
        </div >
        <div class ="header_box_right">
          <ul id ="header_box_right_ul">
              <!-- <li><p id = "info">INFO</p></li> -->
              <li><a id = "qna" href ="{{url_for('main.info')}}">INFO</a></li>
              <li><a id = "qna" href ="{{url_for('question._list')}}">QNA</a></li>

          </ul>
        </div>
    </div>
</header>


<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>