<!doctype html>
<html lang="ko">
<body>
<!-- 네비게이션바 -->
<header>
    <div class ="header_box">
        <div class ="header_box_left">
            <img src="/img/semoss_logo_white 1.png">
            <p>세상의 모든 쓰레기 분리수거 정보</p>
        </div >
        <div class ="header_box_right">
            <p>INFO</p>
            <p>QNA</p>
            <div id ="search_bar">
              <input id="search_bar_mini" style="outline:none;" type="text" placeholder="  검색어 입력">
              <button class="search_button"><img src="/img/search_button.png"></button>
            </div>
        </div>
    </div>
</header>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
</body>
</html>