<!doctype html>
<html lang="ko">
    <head>
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <!--navigation css-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link
rel="stylesheet"
href="https://unpkg.com/swiper/swiper-bundle.min.css"
/>
<link rel="stylesheet" href="{{ url_for('static', filename='navigation.css') }}">
    </head>
<body>
<!-- 네비게이션바 -->
<header id="top">
    <div class ="header_box">
        <div class ="header_box_left">
            <a href="{{url_for('main.index')}}"><img src={{url_for('static',filename='img/semoss_logo_white.png')}}></a>
        </div >
        <div class ="header_box_right">
          <ul id ="header_box_right_ul">
              <li><a id = "qna" href ="{{url_for('main.info')}}">INFO</a></li>
              <li><a id = "qna" href ="{{url_for('question._list')}}">QNA</a></li>
           <li> <div id ="search_bar">
            <form action="{{ url_for('main.load') }}" method="post">
                <input id="search_bar_mini" name="item" style="outline:none; width:150px;" type="text" placeholder="  검색어 입력"></input>
                <button id="search_button" > <img src={{url_for('static',filename='img/search_button.png')}} style ="    width:30px;
                    height: 30px;"></button>
            </form>
            </div>
           </li>
          </ul>
        </div>
    </div>
    <script>
        jQuery(document).ready(function($) {
            $("#search_bar_mini input").focus(function(){
                $("#search_bar_mini input").animate({
                        "width": "200px"
                }, 300, function() {});
            });
            $("#search_bar_mini input").blur(function(){
                $("#search_bar_mini input").animate({
                        "width": "60px"
                }, 300, function() {});
            });
            $("#search_button button").click(function(){
                $("#search_bar_mini input").focus();
            }); 
        });
    </script>
</header>


<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

</body>


</html>