{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='info.css') }}">


 <!--이미지 배너-->
    <div id="banner">
        <img src={{url_for('static',filename='img/banner2.png')}} width="100%" height="300px">
        <h1>INFO</h1>
    </div>

<!--컨테이너 시작-->
<div id="jb-container">
      <div id="jb-header">
        <h1><b>업사이클링이란?</b></h1>
        <p>업사이클링은 재활용을 의미하는 리사이클링(Recycle)과 개선한다는 의미의 업그레이드(Upgrade)를 합쳐 업사이클링(Upcycling)이라고 합니다. 기존의 재활용으로 사용했던 제품들은 이제 디자인과 기능이 뛰어난 새로운 상품으로 재탄생 하기도 합니다. 우리나라 뿐만 아니라 전세계적으로 업사이클링 개념이 주목받고 있는데, 단순히 재활용 하는 리사이클링 과는 확연히 다른 개념이라고 할 수 있습니다.</p>
      </div>

      <div style="height: 50px"></div>

      <div id="jb-header">
            <h1><b>국내 업사이클링 브랜드</b></h1>
      </div>

    <!--Card1 시작-->
    <div id="jb-content">
    <div id="card-container">
        <div id="card-content">
          <img src={{url_for('static',filename='img/Renewers.png')}} width="250px" height="250px">
        </div>
        <div id="card-sidebar">
          <h2><b>리뉴어스</b></h2>
          <p>리뉴어스는 주변의 버려지는 자원들의 새로운 쓰임새를 발견하고 지속가능한 디자인을 더하는 업사이클링 브랜드입니다.</p>
           <button><a href="http://www.renuers.com/" class="button">View more</a></button>
        </div>
    </div>
    </div>
    <!--Card1 끝-->

    <!--Card2 시작-->
    <div id="jb-sidebar">
    <div id="card-container">
        <div id="card-content">
          <img src={{url_for('static',filename='img/Cueclyp.png')}} width="250px" height="250px">
        </div>
        <div id="card-sidebar">
            <h2><b>큐클리프</b></h2>
            <p>큐클리프는 버려지는 폐우산의 방수천을 이용하여 지갑이나 파우치를 생산하는 기업입니다.</p>
          <button><a href="https://cueclyp.com/" class="button">View more</a></button>
        </div>
    </div>
    </div>
    <!--Card2 끝-->

    <!--Card1 시작-->
    <div id="jb-content">
        <div id="card-container">
            <div id="card-content">
               <img src={{url_for('static',filename='img/Rebud.png')}} width="250px" height="250px">
            </div>
            <div id="card-sidebar">
              <h2><b>리버드</b></h2>
              <p>리버드는 버려지는 교복과 원단을 활용해 새로운 제품으로 재탄생시키는 교복 업사이클링 브랜드입니다.</p>
              <button><a href="https://www.rebud.co.kr/" class="button">View more</a></button>
            </div>
        </div>
        </div>
        <!--Card1 끝-->

        <!--Card2 시작-->
        <div id="jb-sidebar">
        <div id="card-container">
            <div id="card-content">
                 <img src={{url_for('static',filename='img/Ulkin.png')}} width="250px" height="250px">
            </div>
            <div id="card-sidebar">
                <h2><b>얼킨</b></h2>
                <p>얼킨은 캔버스 천 위에 그려진 다양한 이미지를 활용한 패션 액세서리를 출시했습니다.</p>
              <button><a href="http://ulkin.co.kr/" class="button">View more</a></button>
            </div>
        </div>
        </div>
        <!--Card2 끝-->

        <!--Card1 시작-->
    <div id="jb-content">
        <div id="card-container">
            <div id="card-content">
                 <img src={{url_for('static',filename='img/Recode.png')}} width="250px" height="250px">
            </div>
            <div id="card-sidebar">
              <h2><b>래코드</b></h2>
              <p>래코드는 국내 대기업 최초로 론칭한 코오롱인더스트리FnC의 업사이클링 브랜드입니다.</p>
              <button><a href="https://www.kolonmall.com/RECODE" class="button">View more</a></button>
            </div>
        </div>
        </div>
        <!--Card1 끝-->

        <!--Card2 시작-->
        <div id="jb-sidebar">
        <div id="card-container">
            <div id="card-content">
                 <img src={{url_for('static',filename='img/Remetome.png')}} width="250px" height="250px">
            </div>
            <div id="card-sidebar">
                <h2><b>레미투미</b></h2>
                <p>레미투미는 제주 지역의 폐자원을 활용한 다양한 반려동물 용품을 제조하는 업사이클링 펫테크 브랜드입니다.</p>
              <button><a href="https://reme2me.com/" class="button">View more</a></button>
            </div>
        </div>
        <div style="width: 100px; height:350px"></div>
        </div>
        <!--Card2 끝-->
    </div>

{% endblock %}