{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<div id = main_box>
                <!--검색창-->
                <h2 class="center">무엇을 분리수거하나요?</h2>
                <p class="center" style="color: white">옷걸이 후라이팬 형광등 인공눈물</p>
                <div id = "search">
                    <form action="{{ url_for('main.load') }}" method="post">
                        <input type="text" placeholder="쓰레기검색" name="item" id="item"></input>
                        <button class="button"><img src="static/img/search_button.png"></button>
                    </form>
                </div>
                <!-- <div class="search">
                    <input style="outline: none;" type="text" placeholder="쓰레기 검색">
                    <button class="button"><img src="/img/search_button.png"></button>
                </div> -->

                <div id="item">
                    <!--많이 찾은 분리수거 항목-->
                    <p>자주 찾은 쓰레기</p>
                    <br>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for i in range(6) %}
                            <div class="swiper-slide" style="width:327px;">

                              <div class="image">
                                  <img src={{url_for('static', filename=freqitem[i].item_image)}} alt="">
                              </div>
                              <p>{{freqitem[i].item_name}}</p>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

               <!--자주 묻는 질문-->
               <div id="question">
                    <p>자주 묻는 질문</p>
                    <div class="container">
                        <div class="question_img">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                            <img src ="static/img/white.jpg" alt = "질문목록" width = "206" height="206">
                        </div>
                    </div>
                </div>

                <!--사진-->
                <div id="cover">
                    <div id="cover_text">
                        <p style="font-size: 40px;">세상을 바꾸는 분리수거,</p>
                    </div>
                    <div id = "cover_logo">
                        <img class = "center" src="static/img/semoss_logo_white 1.png" width="210" height="53">
                    </div>
                    <div id="cover_text2">
                        <p style="font-size: 38px;">와 함께하세요!</p>
                    </div>
                </div>
                <footer>
                    <p style="color: black;">2022 Copyright © Team SEMOSS All Right Reserved.</p>
                </footer>
                
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    centeredSlides: false,
    spaceBetween: 60,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

<script>
jQuery(document).ready(function($) {

  $(".scroll").click(function(event){            
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
  });
});
</script>

{% endblock %}