{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<div id = main_box>
                <!--검색창-->
                <h2 class="center">무엇을 분리수거하나요?</h2>
                <p class="center">옷걸이 후라이팬 형광등 인공눈물</p>
                <div class="search">
                    <input style="outline: none;" type="text" placeholder="쓰레기 검색">
                    <button class="button"><img src="/img/search_button.png"></button>
                </div>
                <div id="item">
                    <!--많이 찾은 분리수거 항목-->
                    <h3 class="center">많이 찾은 분리수거 항목</h3>
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                    <img class="center" src ="/img/gray.jpg" alt = "분리수거사진" width = "206" height="206">
                </div>

               <!--자주 묻는 질문-->
               <div id="question">
                    <h3 class="center">자주 묻는 질문</h3>
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                    <img class="center" src ="/img/white.jpg" alt = "질문목록" width = "206" height="206">
                </div>

                <!--사진-->
                <div id="cover" style="vertical-align: top;">
                    <h2>세상을 바꾸는 분리수거,</h2>
                    <div style="display:inline-block;">
                        <img class = "center" src="/img/semoss_logo_white 1.png" width="200" height="50">
                    </div>
                    <div style="display:inline-block;">
                        <p>와 함께하세요!</p>
                    </div>
                </div>
</div>
{% endblock %}