{% extends 'base_main.html' %}
{% block content %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"><script src="https://code.jquery.com/jquery-1.12.4.js"></script><script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
<div id = main_box>
                {%with messages = get_flashed_messages()%}
                {%if messages %}
                <script type="text/javascript">
                    alert("{{messages[-1]}}");
                </script>
                {%endif%}
                {%endwith%}
                <!--검색창-->
                <h2 class="center">무엇을 분리수거하나요?</h2>
                <p class="center" style="font-weight: 300; color:white; letter-spacing: 2px;">세상의 모든 쓰레기, 세모쓰에 물어보세요!</p>
                <div id = "search">
                    <form action="{{ url_for('main.load') }}" method="post">
                        <input type="text" autocomplete="on" placeholder="쓰레기검색" name="item" id="item"></input>
                        <button class="button"><img src={{url_for('static', filename='/img/search_button.png')}}></button>
                    </form>
                </div>


                <div id="item">
                    <!--많이 찾은 분리수거 항목-->
                    <p style="font-size:32px;">자주 찾은 쓰레기</p>
                    <br>
                    <div class="swiper mySwiper">
                        <div class="swiper-wrapper">
                            {% for i in range(6) %}
                            <div class="swiper-slide">
                              <div class="image">
                                  <a href={{url_for('main.load2', itemname = freqitem[i].item_name )}}>
                                    <img src={{url_for('static', filename=freqitem[i].item_image)}} alt="">
                                  </a>
                              </div>
                              <p>{{freqitem[i].item_name}}</p>
                            </div>
                          {% endfor %}
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

               <!--자주 묻는 질문-->
               <div id="question">
                    <p style="font-size:32px;">최근 등록된 질문</p>
                    <div class="container">
                        <div class="swiper mySwiper">
                            <div class="swiper-wrapper">
                                {% for i in range(3) %}
                                <div class="swiper-slide" style=" background-color:rgba(209, 209, 209, 0.2);height: 160px; border-radius: 10px; box-shadow: 0 3px 3px rgba(0,0,0,0.2);">
                                  <p style="font-size:20px; font-weight: 300; text-align: left; line-height:2; letter-spacing:-1px; margin:20px; margin-top: 30px;">Q. <br> <a href="{{ url_for('question.detail', question_id=freqquestion[i].id) }}" style="text-decoration:none; color:black;">{{freqquestion[i].subject}}</a></p>
                                </div>
                              {% endfor %}
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                    </div>
                </div>

                <!--사진-->
                <div id="cover">
                    <div id="cover_text">
                        <p style="font-size: 40px;">세상을 바꾸는 분리수거,</p>
                    </div>
                    <div id = "cover_logo">
                        <img class = "center" src={{url_for('static', filename='img/semoss_logo_white 1.png')}} width="210" height="53">
                    </div>
                    <div id="cover_text2">
                        <p style="font-size: 38px;">와 함께하세요!</p>
                    </div>
                </div>
                <footer>
                    <p style="color: black;">2022 Copyright © Team SEMOSS All Right Reserved.</p>
                </footer>
                
</div>

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 4,
    centeredSlides: false,
    spaceBetween: 60,
    grabCursor: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
  });
</script>
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>

<script>
jQuery(document).ready(function($) {

  $(".scroll").click(function(event){            
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top}, 500);
  });
});
</script>



{% endblock %}