{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='Question_form.css') }}">

<!--이미지 배너-->
<div id="banner">
    <img src={{url_for('static',filename='img/banner2.png')}} width="100%" height="auto">
    <h1>Q&A</h1>
</div>

<!--본문-->
<div id="main">    
    <!--글제목-->
    <p class="title">질문게시판</p>

    <hr>
    <!--작성 폼-->
    <div>
        <table>
            <h1>{{ question.subject }}</h1>
                <div>
                    {{ question.content }}
                </div>

                <h5>댓글 {{ question.answer_set|length }}</h5>
                <div >
                    <ul>
                    {% for answer in question.answer_set %}
                        <div class >{{ answer.content }}</div>
                    {% endfor %}
                    </ul>
                </div>
                <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
                    <textarea name="content" id="content" rows="15"></textarea>
                    <input type="submit" value="답변등록" style="width:100%;">
                </form>
        </table>
    </div>
</div>


{% endblock %}