{% extends 'base.html' %}
{% block content %}


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Question_list.css') }}">
    <!--네비게이션 바-->

    <!--이미지 배너-->
    <div id="banner">
        <img src={{url_for('static',filename='img/banner2.png')}} width="100%" height="300px">
        <h1>Q&A</h1>
    </div>

    <!--본문-->
    <div id="main">

    <!--전체, 검색창-->
    <!--<div style="display: inline-block;  margin: 20px;">
        <span>전제</span>
        <span>42</span>
        <span>/</span>
        <span>549</span>
    </div>-->
    
    <div style="display: inline-block; margin: 20px" id="search2">
    </div>    

    <!--질문 리스트-->
    <table class="table table-hover" style="border-top: 1.5px solid #555555; border-bottom: 2px solid #555555">
        <thead>
        <tr style="background-color: #F4F4F4">
            <th>번호</th>
            <th>제목</th>
            <th>작성일시</th>
        </tr>
        </thead>
        <tbody>
            {% if question_list %}
            {% for question in question_list.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>
                    <a href="{{ url_for('question.detail', question_id=question.id) }}">{{ question.subject }}</a>
                </td>
                <td>{{ question.create_date|datetime }}</td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">질문이 없습니다.</td>
            </tr>
            {% endif %}
            </tbody>
    </table>

       <a href="{{ url_for('question.create') }}" class="btn">글쓰기</a>

     <!--페이징 처리 시작-->
     <ul class="pagination justify-content-center">
         <!--이전 페이지-->
         {% if question_list.has_prev %}
         <li class="page-item">
             <a class="page-link" href="?page={{ question_list.prev_num }}">이전</a>
         </li>
         {% else %}
         <li class="page-item disabled">
             <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
         </li>
         {% endif %}
         {% for page_num in question_list.iter_pages() %}
            {% if page_num %}
                {% if page_num != question_list.page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">{{ page_num }}</a>
                </li>
                {% endif %}
         {% else %}
                <li class="disabled">
                    <a class="page-link" href="#">...</a>
                </li>
               {% endif %}
          {% endfor %}
         <!--다음 페이지-->
         {% if question_list.has_next %}
         <li class="page-item">
             <a class="page-link" href="?page={{ question_list.next_num }}">다음</a>
         </li>
         {% else %}
         <li class="page-item disabled">
             <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
         </li>
         {% endif %}
     </ul>
    <!--페이징 처리 끝-->
    </div>
{% endblock %}