{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">

   <!--이미지 배너-->
    <div id="banner">
        <img src={{url_for('static',filename='img/banner2.png')}} width="100%" height="300px">
        <h1>Q&A</h1>
    </div>



    <div class="main">
    <nav class="story-title">
        <div class="story-t">
            <p>{{ question.subject }}</p>
        </div>
    </nav>

    <nav class="tell">
        <ul class="teller">
            <li><p><b>작성자</b>&nbsp;&nbsp;&nbsp;분리수거인</p></li>
            <li><p><b>작성일</b>&nbsp;&nbsp;&nbsp;{{ question.create_date|datetime }}</p></li>
            </ul>
    </nav>

    <nav class="story">
        <div class="story-s">
            <p>{{ question.content }}</p>
        </div>
    </nav>

    <nav class="comment">
        <div class="comment1">
            <h5>댓글 {{ question.answer_set|length }}</h5>
        </div>

        <hr>

            <div class="c-people">
            </div>
                <div>
                    <ul>
                    {% for answer in question.answer_set %}
                        <span><img src= "{{url_for('static',filename='img/profile.png')}}" width="35px" height="35px" alt=""></span>
                        <span class="comment-text" style="padding-bottom: 10px;">댓글인</span>
                        <span class="comment-text">{{ answer.create_date|datetime }}</span>
                        <div class="c-content" >
                            {{ answer.content }}
                            <div style="margin-bottom: 35px;"></div>
                            <hr></div>
                    {% endfor %}
                    </ul>
                </div>


        <div class="c-write">
        <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
            <span><img src= "{{url_for('static',filename='img/comment.png')}}" width="35px" height="30px" alt=""></span>
            <span class="comment-text">댓글 달기</span>
            <textarea name="content" id="content" rows="15" class="c-b">
            </textarea>

            <input type="submit" value="답글" class="c-click">
        </form>
        </div>
    </div>

    </nav>
{% endblock %}