{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='stylee.css') }}">



    <nav class="menu-bar">
        <div class="menu1">
            <a href="">세상의 모든 쓰레기 분리수거 정보</a>

        </div>
        <ul class="menu2">
            <li><a href="">INFO</a></li>
            <li><a href="">Q&A</a></li>

        </ul>
        <div class="menu3">
            <input type="text" placeholder="쓰레기 검색">
            <i class="button"><img src="검색 아이콘.png" alt=""></i>
        </div>

    </nav>

    <nav class="b-ground">
        <div class="b-word">
            <a href="">Q&A</a>
        </div>
    </nav>


    <div class="main">
    <nav class="story-title">
        <div class="story-t">
            <p>{{ question.subject }}</p>
        </div>
    </nav>

    <nav class="tell">
        <ul class="teller">
            <li><p>작성자&nbsp;&nbsp;&nbsp;분리수거인</p></li>
            <li><p>작성일&nbsp;&nbsp;&nbsp;2022-05-08</p></li>
            </ul>
    </nav>

    <nav class="story">
        <div class="story-s">
            <p>{{ question.content }}</p>
        </div>
    </nav>

    <nav class="comment">
        <div class="comment1">
            <h5>댓글 {{ question.answer_set|length }}</h5>
        </div>

        <hr>

            <div class="c-people">
            </div>
                <div>
                    <ul>
                    {% for answer in question.answer_set %}
                        <span><img src= "{{url_for('static',filename='img/profile.png')}}" width="35px" height="35px" alt=""></span>
                        <span class="comment-text" style="padding-bottom: 10px;">댓글인</span>
                        <span class="comment-text">2022-05-08 5:53</span>
                        <div class="c-content" >
                            {{ answer.content }}
                            <div style="margin-bottom: 35px;"></div>
                            <hr></div>
                    {% endfor %}
                    </ul>
                </div>


        <div class="c-write">
        <form action="{{ url_for('answer.create', question_id=question.id) }}" method="post">
            <span><img src= "{{url_for('static',filename='img/댓글.png')}}" width="40px" height="35px" alt=""></span>
            <span class="comment-text">댓글 달기</span>
            <textarea name="content" id="content" rows="15" class="c-b">
            </textarea>

            <input type="submit" value="답글" class="c-click">
        </form>
        </div>
        </div>

    
            
        <!-- <div class="c-all">
        <ul class="c-write">
                <div class="c-b">
                    <li><img src="댓글.png" width="40px" height="35px" alt=""></li>
                    <li>댓글 달기</li>
                </div>

            </ul>

            <ul class="click">
                <div class="c-click">
                    <div class="c-c">

                        </form>
                    </div>
                </div>
            </ul>

                    <ul class="c-answer">
            <div class="c-ar">
            <div class="c-a">
                <a href="">답글</a>
            </div>
            </div>
        </ul>
        </div> -->

    </nav>
{% endblock %}