<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylee.css">
    <title>Menu bar</title>
</head>
<body>
    <nav class="menu-bar">
        <div class="menu1">
            <a href="">세상의 모든 쓰레기 분리수거 정보</a>

        </div>
        <ul class="menu2">
            <li><a href="">INFO</a></li>
            <li><a href="">Q&A</a></li>

        </ul>
        <div class="menu3">
            <input type="text" placeholder="쓰레기 검색">
            <i class="button"><img src="검색 아이콘.png" alt=""></i>
        </div>

    </nav>

    <nav class="b-ground">
        <div class="b-word">
            <a href="">Q&A</a>
        </div>
    </nav>

    <nav class="story-title">
        <div class="story-t">
           <p>글 제목</p>
        </div>
    </nav>

    <nav class="tell">
        <ul class="teller">
            <li><p>작성자&nbsp;&nbsp;&nbsp;분리수거인</p></li>
            <li><p>작성일&nbsp;&nbsp;&nbsp;2022-05-08</p></li>
            </ul>
    </nav>

    <nav class="story">
        <div class="story-s">
            <p>(질문 내용 칸)  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
    </nav>

    <nav class="comment">
        <div class="comment1">
            <p>댓글1</p>
        </div>



        <div class="comment-box">

            <ul class="c-people">
                <li><img src="profile.png" alt=""></li>
                <li><p>댓글인</p></li>
                <li><p>2022-05-08 5:53</p></li>
                </ul>

        <div class="c-content">
            (댓글 내용 칸) 세상의 모든 쓰레기 분리수거 정보 세모쓰 
        </div>

        <ul class="c-answer">
            <div class="c-ar">
            <div class="c-a">
                <a href="">답글</a>
            </div>
            </div>
        </ul>
    
        </div>


            <ul class="c-write">
                <div class="c-b">
                    <li><img src="댓글.png" width="40px" height="35px" alt=""></li>
                    <li>댓글 달기</li>
                </div>

            </ul>

            <ul class="click">
                <div class="c-click">
                    <div class="c-c">
                        <a href="">답변</a>
                    </div>
                </div>
            </ul>



    </nav>

</body>
</html>